<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container">
      <div class="text">
        <div class="title">美术培训</div>
        <div class="en-title">ART TRAINING</div>
      </div>
      <img src="/public/images/bg-cultivate.png" alt="美术培训" class="bg-img">
    </section>
    <section class="text-container max-center w1200">
      <div class="title">D.ROCK-ART数字艺术教育概况</div>
      <div class="cont">
        杭州黑岩网络科技有限公司是一家拥有高水准技术实力，集CG动画、漫画、游戏等IP相关原创数字内容研发及运营能力的综合性公司。D.ROCK-ART是黑岩旗下运营5年的数字艺术教育品牌。凭借卓越的技术水准、成熟的管理制度和广阔的资源平台，黑岩成为国内外数字制作行业公认的佼佼者。目前已发展成为国内业务范围最广的、发展速度最快的数字内容供应商之一。D.ROCK-ART数字艺术教育培训自2013年起已完成十三期培训课程，秉承精品教学的教育理念，持续为泛娱乐行业游戏、影视、动漫等领域培育数字美术专业人才。
      </div>
      <div class="company-title">学员进入的优秀企业</div>
      <ul class="company-list">
        <li class="company-item">
          <img src="/public/images/company-01.png" alt="网易游戏">
        </li>
        <li class="company-item">
          <img src="/public/images/company-02.png" alt="网易游戏">
        </li>
        <li class="company-item">
          <img src="/public/images/company-03.png" alt="网易游戏">
        </li>
        <li class="company-item">
          <img src="/public/images/company-04.png" alt="网易游戏">
        </li>
        <li class="company-item">
          <img src="/public/images/company-05.png" alt="网易游戏">
        </li>
        <li class="company-item">
          <img src="/public/images/company-06.png" alt="网易游戏">
        </li>
        <li class="company-item">
          <img src="/public/images/company-07.png" alt="网易游戏">
        </li>
        <li class="company-item">
          <img src="/public/images/company-08.png" alt="网易游戏">
        </li>
        <li class="company-item">
          <img src="/public/images/company-09.png" alt="网易游戏">
        </li>
        <li class="company-item">
          <img src="/public/images/company-10.png" alt="网易游戏">
        </li>
      </ul>
    </section>
    <section class="teaching-container">
      <div class="teaching-box max-center w1200">
        <div class="title-box">
          <div class="title">
            行业<span>大神联合授课</span>
          </div>
          <div class="desc">专注数字娱乐设计实体教学</div>
        </div>
        <div class="content">
          <div class="cont">
            <h2>DROCK教师团队：</h2>
            <p>
              DRock-Art的教师团队由多名专业从事游戏和电影原画美术工作的资深画师组成。他们参与过众多国内、国际知名游戏的设计制造，来自国内最具影响力的游戏企业，多年的工作经验和项目沉淀带给他们不一样的眼界和教学思维。在系统的课程大纲框架下，讲师们在各自擅长的创作方向教授专业知识及绘画技法，注重知识点的实用性和融会贯通，以便学生可以灵活且全面的进行学习和训练，并真正运用到以后的工作当中。
            </p>
          </div>
          <div class="cont">
            <h2>教师团队曾经参与过的项目：</h2>
            <p>
              《战锤40K星际战士》《最终幻想14》《天堂2》《天堂永恒》《永恒之塔》《上古卷轴online》《TERA》《古墓丽影》《行星边际》《killzone3vata》《ImpactofGods》《GalaxySaga》《三体》电影《诛仙》CG宣传片《画皮世界》《仙途》《大闹天宫》《前任攻略》《年兽大作战》《一步之遥》《SaintsRow3.5》《SaintsRow4》《荒野行动》《终结者2：审判日》《大航海之路》《光明大陆》《银河战舰》《三国如龙传》《猎魂觉醒》《horizon》《新大话西游2》《天谕》《乱斗西游》《非人学园》《汉王纷争》《舰无虚发》《无尽战区·觉醒》《WarofKings》《大唐无双》《坦克连》《Starfury（星怒）》《家园守卫(北美)》《LordoftheDragons》
            </p>
          </div>
        </div>
        <ul class="pics-list">
          <li class="pics-item">
            <img src="/public/images/project-show-01.png">
          </li>
          <li class="pics-item">
            <img src="/public/images/project-show-01.png">
          </li>
          <li class="pics-item">
            <img src="/public/images/project-show-01.png">
          </li>
          <li class="pics-item">
            <img src="/public/images/project-show-01.png">
          </li>
          <li class="pics-item">
            <img src="/public/images/project-show-01.png">
          </li>
          <li class="pics-item">
            <img src="/public/images/project-show-01.png">
          </li>
          <li class="pics-item">
            <img src="/public/images/project-show-01.png">
          </li>
          <li class="pics-item">
            <img src="/public/images/project-show-01.png">
          </li>
          <li class="pics-item">
            <img src="/public/images/project-show-01.png">
          </li>
          <li class="pics-item">
            <img src="/public/images/project-show-01.png">
          </li>
          <li class="pics-item">
            <img src="/public/images/project-show-01.png">
          </li>
          <li class="pics-item">
            <img src="/public/images/project-show-01.png">
          </li>
          <li class="pics-item">
            <img src="/public/images/project-show-01.png">
          </li>
          <li class="pics-item">
            <img src="/public/images/project-show-01.png">
          </li>
          <li class="pics-item">
            <img src="/public/images/project-show-01.png">
          </li>
          <li class="pics-item">
            <img src="/public/images/project-show-01.png">
          </li>
        </ul>
      </div>
    </section>
    <section class="cultivate-container">
      <div class="title-module">
        <div class="title">三大热门课程培训</div>
        <div class="desc">学习有方法 就业有捷径</div>
      </div>
      <ul class="cultivate-list max-center w1200">
        <li class="cultivate-item">
          <div class="text">
            <div class="title">影游原画概念设计师</div>
            <div class="subtitle">培训班</div>
          </div>
          <div class="img">
            <img src="/public/images/cultivate-01.png" alt="">
          </div>
        </li>
        <li class="cultivate-item">
          <div class="text">
            <div class="title">UE5影视场景艺术</div>
            <div class="subtitle">培训班</div>
          </div>
          <div class="img">
            <img src="/public/images/cultivate-02.png" alt="">
          </div>
        </li>
        <li class="cultivate-item">
          <div class="text">
            <div class="title">3D游戏建模师</div>
            <div class="subtitle">培训班</div>
          </div>
          <div class="img">
            <img src="/public/images/cultivate-03.png" alt="">
          </div>
        </li>
      </ul>
    </section>
    <section class="student-works-container">
      <div class="title-module">
        <div class="title">学员作品</div>
        <div class="desc">创意到绘制手把手教学</div>
      </div>
      <div class="student-works-swiper swiper-container max-center w1200">
        <ul class="student-works-list swiper-wrapper">
          <li class="student-works-item swiper-slide">
            <img src="/public/images/student-works-01.png" alt="">
          </li>
          <li class="student-works-item swiper-slide">
            <img src="/public/images/student-works-01.png" alt="">
          </li>
          <li class="student-works-item swiper-slide">
            <img src="/public/images/student-works-01.png" alt="">
          </li>
          <li class="student-works-item swiper-slide">
            <img src="/public/images/student-works-01.png" alt="">
          </li>
          <li class="student-works-item swiper-slide">
            <img src="/public/images/student-works-01.png" alt="">
          </li>
          <li class="student-works-item swiper-slide">
            <img src="/public/images/student-works-01.png" alt="">
          </li>
          <li class="student-works-item swiper-slide">
            <img src="/public/images/student-works-01.png" alt="">
          </li>
          <li class="student-works-item swiper-slide">
            <img src="/public/images/student-works-01.png" alt="">
          </li>
          <li class="student-works-item swiper-slide">
            <img src="/public/images/student-works-01.png" alt="">
          </li>
          <li class="student-works-item swiper-slide">
            <img src="/public/images/student-works-01.png" alt="">
          </li>
          <li class="student-works-item swiper-slide">
            <img src="/public/images/student-works-01.png" alt="">
          </li>
          <li class="student-works-item swiper-slide">
            <img src="/public/images/student-works-01.png" alt="">
          </li>
          <li class="student-works-item swiper-slide">
            <img src="/public/images/student-works-01.png" alt="">
          </li>
          <li class="student-works-item swiper-slide">
            <img src="/public/images/student-works-01.png" alt="">
          </li>
          <li class="student-works-item swiper-slide">
            <img src="/public/images/student-works-01.png" alt="">
          </li>
          <li class="student-works-item swiper-slide">
            <img src="/public/images/student-works-01.png" alt="">
          </li>
          <li class="student-works-item swiper-slide">
            <img src="/public/images/student-works-01.png" alt="">
          </li>
          <li class="student-works-item swiper-slide">
            <img src="/public/images/student-works-01.png" alt="">
          </li>
          <li class="student-works-item swiper-slide">
            <img src="/public/images/student-works-01.png" alt="">
          </li>
          <li class="student-works-item swiper-slide">
            <img src="/public/images/student-works-01.png" alt="">
          </li>
          <li class="student-works-item swiper-slide">
            <img src="/public/images/student-works-01.png" alt="">
          </li>
          <li class="student-works-item swiper-slide">
            <img src="/public/images/student-works-01.png" alt="">
          </li>
          <li class="student-works-item swiper-slide">
            <img src="/public/images/student-works-01.png" alt="">
          </li>
          <li class="student-works-item swiper-slide">
            <img src="/public/images/student-works-01.png" alt="">
          </li>

        </ul>
        <div class="swiper-student-work-button-prev swiper-button-prev common-style"></div>
        <div class="swiper-student-work-button-next swiper-button-next common-style"></div>
      </div>

    </section>
    <section class="student-video-container">
      <div class="title-module">
        <div class="title">学员作品视频</div>
        <div class="desc">优秀作品赏析</div>
      </div>
      <div class="video-box">
        <video src="/public/video/cultivate.mp4" controls poster></video>
      </div>
    </section>
    <section class="advantage-container">
      <div class="title-module">
        <div class="title">教学优势</div>
        <div class="desc">行业大神授课优势明显</div>
      </div>
      <div class="advantage-content max-center w1200">
        <img src="/public/images/advantage.png" alt="教学优势">
        <ul class="advantage-list">
          <li class="advantage-item">
            <div class="title">1、实战教职团队：</div>
            <div class="cont">
              以黑岩网络自身强大的实力和优异的口碑为基础，组建起国内一线动画游戏项 目最具实操经验的实战派教师团队。
            </div>
          </li>
          <li class="advantage-item">
            <div class="title">2、课程开发实用性：</div>
            <div class="cont">
              黑岩的课程设计并不只来源于书本，而是通过实际行业的岗位需求反推塑造，在短期内让学员具备就业入行的能力；课程每年都会根据市场实时岗位需求及标准的变化，进行开发、更新与优化，停办市场就业需求低的老课程，做到灵活教学、高效就业。
            </div>
          </li>
          <li class="advantage-item">
            <div class="title">3、重实训以提高教学质量：</div>
            <div class="cont">
              黑岩艺术教育坚持只做线小班面授教学，每个班次均达到1:3的师生人数比例，教学地点与环境紧贴项目产线，做到真正的实训学习。
            </div>
          </li>
          <li class="advantage-item">
            <div class="title">4、高就业率：</div>
            <div class="cont">
              根据每年黑岩开设的不同课程班次，只要毕业通过基本能力岗位测试，部分学科包就业，所有学员推荐两个以上就业岗位。
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="terrace-container">
      <div class="title-module">
        <div class="title">优秀的教学环境 一流的教学设备</div>
        <div class="desc">打造一流的教育平台</div>
      </div>
      <div class="terrace-box max-center w1200">
        <div class="left-layout">
          <img class="img" src="/public/images/terrace-01.png">
        </div>
        <div class="right-layout">
          <div class="img">
            <img src="/public/images/terrace-02.png">
          </div>
          <div class="img">
            <img src="/public/images/terrace-03.png">
          </div>
          <div class="img">
            <img src="/public/images/terrace-04.png">
          </div>
          <div class="img">
            <img src="/public/images/terrace-05.png">
          </div>
        </div>
      </div>
    </section>
    <section class="popup-container">
      <div class="swiper-container popup-swiper">
        <ul class="swiper-wrapper popup-list">
          <li class="popup-item swiper-slide">
            <img src="/public/images/student-works-01.png" alt="">
          </li>
          <li class="popup-item swiper-slide">
            <img src="/public/images/student-works-01.png" alt="">
          </li>
          <li class="popup-item swiper-slide">
            <img src="/public/images/student-works-01.png" alt="">
          </li>
          <li class="popup-item swiper-slide">
            <img src="/public/images/student-works-01.png" alt="">
          </li>
          <li class="popup-item swiper-slide">
            <img src="/public/images/student-works-01.png" alt="">
          </li>
          <li class="popup-item swiper-slide">
            <img src="/public/images/student-works-01.png" alt="">
          </li>
          <li class="popup-item swiper-slide">
            <img src="/public/images/student-works-01.png" alt="">
          </li>
          <li class="popup-item swiper-slide">
            <img src="/public/images/student-works-01.png" alt="">
          </li>
          <li class="popup-item swiper-slide">
            <img src="/public/images/student-works-01.png" alt="">
          </li>
          <li class="popup-item swiper-slide">
            <img src="/public/images/student-works-01.png" alt="">
          </li>
          <li class="popup-item swiper-slide">
            <img src="/public/images/student-works-01.png" alt="">
          </li>
          <li class="popup-item swiper-slide">
            <img src="/public/images/student-works-01.png" alt="">
          </li>
          <li class="popup-item swiper-slide">
            <img src="/public/images/student-works-01.png" alt="">
          </li>
          <li class="popup-item swiper-slide">
            <img src="/public/images/student-works-01.png" alt="">
          </li>
          <li class="popup-item swiper-slide">
            <img src="/public/images/student-works-01.png" alt="">
          </li>
          <li class="popup-item swiper-slide">
            <img src="/public/images/student-works-01.png" alt="">
          </li>
          <li class="popup-item swiper-slide">
            <img src="/public/images/student-works-01.png" alt="">
          </li>
          <li class="popup-item swiper-slide">
            <img src="/public/images/student-works-01.png" alt="">
          </li>
          <li class="popup-item swiper-slide">
            <img src="/public/images/student-works-01.png" alt="">
          </li>
          <li class="popup-item swiper-slide">
            <img src="/public/images/student-works-01.png" alt="">
          </li>
          <li class="popup-item swiper-slide">
            <img src="/public/images/student-works-01.png" alt="">
          </li>
          <li class="popup-item swiper-slide">
            <img src="/public/images/student-works-01.png" alt="">
          </li>
          <li class="popup-item swiper-slide">
            <img src="/public/images/student-works-01.png" alt="">
          </li>
          <li class="popup-item swiper-slide">
            <img src="/public/images/student-works-01.png" alt="">
          </li>
        </ul>
        <div class="swiper-button-next swiper-popup-button-next common-style"></div>
        <div class="swiper-button-prev swiper-popup-button-prev common-style"></div>
      </div>
      <div class="mask"></div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>