<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
  <section class="start-show">
    <video src="/public/video/banner.mp4" autoplay muted></video>
  </section>
  <section class="banner-container">
    <img src="/public/images/banner.webp" >
    <ul class="banner-thumb-list max-center">
      <li class="banner-thumb-item">
        <div class="text">
          <div class="title">自研IP</div>
          <a href="product.html" class="next">
            <div class="icon">
              <img src="/public/images/home-icon-more.png" alt="">
              <img src="/public/images/home-icon-more-hover.png" class="hover">
            </div>
          </a>
        </div>
        <img class="bg" src="/public/images/banner-thumb01.webp">
      </li>
      <li class="banner-thumb-item">
        <div class="text">
          <div class="title">美术制作&<br>广告片</div>
          <a href="case.html" class="next">
            <div class="icon">
              <img src="/public/images/home-icon-more.png" alt="">
              <img src="/public/images/home-icon-more-hover.png" class="hover">
            </div>
          </a>
        </div>
        <img class="bg" src="/public/images/banner-thumb02.webp" alt="">
      </li>
      <li class="banner-thumb-item">
        <div class="text">
          <div class="title">元宇宙</div>
          <a href="metaverse.html" class="next">
            <div class="icon">
              <img src="/public/images/home-icon-more.png" alt="">
              <img src="/public/images/home-icon-more-hover.png" class="hover">
            </div>
          </a>
        </div>
        <img class="bg" src="/public/images/banner-thumb03.webp" alt="">
      </li>
      <li class="banner-thumb-item">
        <div class="text">
          <div class="title">数字艺术<br>培训</div>
          <a href="cultivate.html" class="next">
            <div class="icon">
              <img src="/public/images/home-icon-more.png" alt="">
              <img src="/public/images/home-icon-more-hover.png" class="hover">
            </div>
          </a>
        </div>
        <img class="bg" src="/public/images/banner-thumb04.webp" alt="">
      </li>
    </ul>
    <div class="arrow-down-btn">
      <img src="/public/images/home-next-btn.png" >
    </div>
  </section>
  
  <section class="about-container anchor-box">
    <div id="page-about" class="anchor"></div>
    <div class="text-box max-center">
      <div class="title-module">
        <div class="title">关于我们</div>
        <div class="en-title">ABOUT US</div>
      </div>
      <div class="cont">
        <p>黑岩科技成立于2013年，员工300余人，是一家具备高水准技术实力，拥有原创游戏研发、原创动画制作、虚拟人及数字孪生开发制作、实时三维渲染等CG技术研发、IP宣传发行、商业运营等完整自主产业链模块的互动娱乐公司。自主培育的“边际启示录”世界观是多故事线的未来幻想题材系列IP。基于完整的世界观框架为核心开发了一系列高品质剧集动画、手机游戏、连载漫画、有声读物、模型手办周边等产品。未来将以技术与创意双重驱动创持续生产精品内容，打造动漫与游戏互哺开发的数字娱乐内容体系。</p>
      </div>
      <img src="/public/images/about-img.png" alt="">
    </div>
  </section>
  
  <section class="partner-container anchor-box">
    <div id="page-partner" class="anchor"></div>
    <div class="title-module">
      <div class="title">合作伙伴</div>
      <div class="en-title">PARTNER</div>
    </div>
    <ul class="partner-list max-center">
      <li class="partner-item">
        <img src="/public/images/partner-01.jpg" alt="腾讯游戏">
      </li>
      <li class="partner-item">
        <img src="/public/images/partner-02.jpg" alt="华为">
      </li>
      <li class="partner-item">
        <img src="/public/images/partner-03.jpg" alt="网易游戏">
      </li>
      <li class="partner-item">
        <img src="/public/images/partner-04.jpg" alt="阿里游戏">
      </li>
      <li class="partner-item">
        <img src="/public/images/partner-05.jpg" alt="菜鸟">
      </li>
      <li class="partner-item">
        <img src="/public/images/partner-06.jpg" alt="高德地图">
      </li>
      <li class="partner-item">
        <img src="/public/images/partner-07.jpg" alt="盛大游戏">
      </li>
      <li class="partner-item">
        <img src="/public/images/partner-08.jpg" alt="中国航空工业集团有限公司">
      </li>
      <li class="partner-item">
        <img src="/public/images/partner-09.jpg" alt="阿里巴巴">
      </li>
      <li class="partner-item">
        <img src="/public/images/partner-10.jpg" alt="腾讯">
      </li>
      <li class="partner-item">
        <img src="/public/images/partner-11.jpg" alt="吉利汽车">
      </li>
      <li class="partner-item">
        <img src="/public/images/partner-12.jpg" alt="游族网络">
      </li>
      <li class="partner-item">
        <img src="/public/images/partner-13.jpg" alt="完美世界游戏">
      </li>
      <li class="partner-item">
        <img src="/public/images/partner-14.jpg" alt="敦煌文旅">
      </li>
      <li class="partner-item">
        <img src="/public/images/partner-15.jpg" alt="网易">
      </li>
      <li class="partner-item">
        <img src="/public/images/partner-16.jpg" alt="字节跳动">
      </li>
      <li class="partner-item">
        <img src="/public/images/partner-17.jpg" alt="中兴">
      </li>
      <li class="partner-item">
        <img src="/public/images/partner-18.jpg" alt="畅游">
      </li>
      <li class="partner-item">
        <img src="/public/images/partner-19.jpg" alt="西山居">
      </li>
      <li class="partner-item">
        <img src="/public/images/partner-20.jpg" alt="FUNPLUS">
      </li>
      <li class="partner-item">
        <img src="/public/images/partner-21.jpg" alt="MiHoYo">
      </li>
      <li class="partner-item">
        <img src="/public/images/partner-22.jpg" alt="">
      </li>
      <li class="partner-item">
        <img src="/public/images/partner-23.jpg" alt="巨人网络">
      </li>
      <li class="partner-item">
        <img src="/public/images/partner-24.jpg" alt="IGOT GAMES">
      </li>
    </ul>
  </section>
  <section class="dynamic-container">
    <div class="title-module-box max-center w1200">
      <div class="title-module">
        <div class="title">黑岩动态</div>
        <div class="en-title">NEWS</div>
      </div>
      <a href="news_list.html" class="more">MORE <i class="icon-arrow-right-bold iconfont"></i></a>
    </div>
    
    <div class="dynamic-box max-center">
      <div class="left-layout">
        <div class="new-box">
          <div class="title">《星骸骑士》第一季4亿收官！</div>
          <div class="date">2022-01-11</div>
          <div class="desc">《星骸骑士》第一季完结篇《星火重燃》已经播出有一段时间啦我们看到大家对于彩蛋有着不少疑问：主角他们去了哪？......</div>
          <div class="img">
            <img src="/public/images/dynamic.png" alt="《星骸骑士》第一季4亿收官！">
          </div>
          <a href="news_view.html" class="more">查看详情</a>
        </div>
      </div>
      <div class="right-layout">
        <ul class="dynamic-list">
          <li class="dynamic-item">
            <a href="news_view.html" class="dynamic-box">
              <div class="dynamic-left">
                <div class="title">黑岩星球一日游 | 昆明理工大学动画专业</div>
                <div class="desc">
                  黑岩星球一日游 | 昆明理工大学动画专业~昆明理工大学动画专业学生在常勋有老师的带领下来到了杭州......
                </div>
              </div>
              <div class="dynamic-right">
                <div class="date">2021-12-09</div>
                <div class="more">
                  <img src="/public/images/icon-next.png" alt="">
                </div>
              </div>
            </a>
          </li>
          <li class="dynamic-item">
            <a href="news_view.html" class="dynamic-box">
              <div class="dynamic-left">
                <div class="title">黑岩星球一日游 | 昆明理工大学动画专业</div>
                <div class="desc">
                  黑岩星球一日游 | 昆明理工大学动画专业~昆明理工大学动画专业学生在常勋有老师的带领下来到了杭州......
                </div>
              </div>
              <div class="dynamic-right">
                <div class="date">2021-12-09</div>
                <div class="more">
                  <img src="/public/images/icon-next.png" alt="">
                </div>
              </div>
            </a>
          </li>
          <li class="dynamic-item">
            <a href="news_view.html" class="dynamic-box">
              <div class="dynamic-left">
                <div class="title">黑岩星球一日游 | 昆明理工大学动画专业</div>
                <div class="desc">
                  黑岩星球一日游 | 昆明理工大学动画专业~昆明理工大学动画专业学生在常勋有老师的带领下来到了杭州......
                </div>
              </div>
              <div class="dynamic-right">
                <div class="date">2021-12-09</div>
                <div class="more">
                  <img src="/public/images/icon-next.png" alt="">
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <!-- 引入公共页尾 -->
  <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>