<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="text-container">
      <div class="text-box max-center w1200">
        <div class="text">
          黑岩网络作为国内专业的影游美术、CG宣传片供应商，聚集了大批资深数字艺术家、建模专家、概念设计师、导演、制片等，组成资深的游戏&影视&动画美术制作团队，
          核心成员均从业8~10年。我们帮助游戏和电影公司进行项目风格订制、建立前期设计开发的标准，实现无限的数字美术制作，为合作伙伴提供真正有价值、有创新性的设
          计结果。主要包括：全CG游戏宣传片、广告片、游戏及电影项目的美术风格订制、2D原画设定、角色&场景概念设计、3D模型、UI&图标设计、动作特效、影视海报、美
          宣、分镜、VR美术等。
        </div>
      </div>
      <img src="/public/images/bg-case-text.png" class="bg-img">
    </section>
    <section class="project-container">
      <div class="title-module-box max-center w1200">
        <div class="title-module">
          <div class="title">项目案例</div>
          <div class="en-title">PROJECT CASE</div>
        </div>
        <div class="subtitle">游戏宣传片&动画番剧&广告片</div>
      </div>
      <div class="project-box max-center w1200">
        <ul class="project-list">
          <li class="project-item">
            <div class="img" data-img="/public/images/project-02.png" data-video="/public/video/cultivate.mp4">
              <img src="/public/images/btn-video.png" alt="" class="video-btn">
              <img src="/public/images/project-02.png" class="bg-img">
            </div>
            <div class="text">
              <div class="title">边际启示录官方先导片</div>
              <div class="time">02:29</div>
            </div>
          </li>
          <li class="project-item">
            <div class="img" data-img="/public/images/project-02.png" data-video="/public/video/cultivate.mp4">
              <img src="/public/images/btn-video.png" alt="" class="video-btn">
              <img src="/public/images/project-02.png" class="bg-img">
            </div>
            <div class="text">
              <div class="title">边际启示录官方先导片</div>
              <div class="time">02:29</div>
            </div>
          </li>
          <li class="project-item">
            <div class="img" data-img="/public/images/project-02.png" data-video="/public/video/cultivate.mp4">
              <img src="/public/images/btn-video.png" alt="" class="video-btn">
              <img src="/public/images/project-02.png" class="bg-img">
            </div>
            <div class="text">
              <div class="title">边际启示录官方先导片</div>
              <div class="time">02:29</div>
            </div>
          </li>
          <li class="project-item">
            <div class="img" data-img="/public/images/project-02.png" data-video="/public/video/cultivate.mp4">
              <img src="/public/images/btn-video.png" alt="" class="video-btn">
              <img src="/public/images/project-02.png" class="bg-img">
            </div>
            <div class="text">
              <div class="title">边际启示录官方先导片</div>
              <div class="time">02:29</div>
            </div>
          </li>
          <li class="project-item">
            <div class="img" data-img="/public/images/project-02.png" data-video="/public/video/cultivate.mp4">
              <img src="/public/images/btn-video.png" alt="" class="video-btn">
              <img src="/public/images/project-02.png" class="bg-img">
            </div>
            <div class="text">
              <div class="title">边际启示录官方先导片</div>
              <div class="time">02:29</div>
            </div>
          </li>
          <li class="project-item">
            <div class="img" data-img="/public/images/project-02.png" data-video="/public/video/cultivate.mp4">
              <img src="/public/images/btn-video.png" alt="" class="video-btn">
              <img src="/public/images/project-02.png" class="bg-img">
            </div>
            <div class="text">
              <div class="title">边际启示录官方先导片</div>
              <div class="time">02:29</div>
            </div>
          </li>
          <li class="project-item">
            <div class="img" data-img="/public/images/project-02.png" data-video="/public/video/cultivate.mp4">
              <img src="/public/images/btn-video.png" alt="" class="video-btn">
              <img src="/public/images/project-02.png" class="bg-img">
            </div>
            <div class="text">
              <div class="title">边际启示录官方先导片</div>
              <div class="time">02:29</div>
            </div>
          </li>
          <li class="project-item">
            <div class="img" data-img="/public/images/project-02.png" data-video="/public/video/cultivate.mp4">
              <img src="/public/images/btn-video.png" alt="" class="video-btn">
              <img src="/public/images/project-02.png" class="bg-img">
            </div>
            <div class="text">
              <div class="title">边际启示录官方先导片</div>
              <div class="time">02:29</div>
            </div>
          </li>
          <li class="project-item">
            <div class="img" data-img="/public/images/project-02.png" data-video="/public/video/cultivate.mp4">
              <img src="/public/images/btn-video.png" alt="" class="video-btn">
              <img src="/public/images/project-02.png" class="bg-img">
            </div>
            <div class="text">
              <div class="title">边际启示录官方先导片</div>
              <div class="time">02:29</div>
            </div>
          </li>
          <li class="project-item">
            <div class="img" data-img="/public/images/project-02.png" data-video="/public/video/cultivate.mp4">
              <img src="/public/images/btn-video.png" alt="" class="video-btn">
              <img src="/public/images/project-02.png" class="bg-img">
            </div>
            <div class="text">
              <div class="title">边际启示录官方先导片</div>
              <div class="time">02:29</div>
            </div>
          </li>
          <li class="project-item">
            <div class="img" data-img="/public/images/project-02.png" data-video="/public/video/cultivate.mp4">
              <img src="/public/images/btn-video.png" alt="" class="video-btn">
              <img src="/public/images/project-02.png" class="bg-img">
            </div>
            <div class="text">
              <div class="title">边际启示录官方先导片</div>
              <div class="time">02:29</div>
            </div>
          </li>
          <li class="project-item">
            <div class="img" data-img="/public/images/project-02.png" data-video="/public/video/cultivate.mp4">
              <img src="/public/images/btn-video.png" alt="" class="video-btn">
              <img src="/public/images/project-02.png" class="bg-img">
            </div>
            <div class="text">
              <div class="title">边际启示录官方先导片</div>
              <div class="time">02:29</div>
            </div>
          </li>
        </ul>
        <div class="end-text">项目加载完毕~</div>
      </div>
    </section>
    <section class="video-popup-container">
      <div class="video-box">
        <video src="" id="popup-video" controls poster></video>
      </div>
      <div class="mask" @click="hidePopup"></div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>